
.wrapper {
    padding: 10px;
    background: white;
    overflow-y: auto;
}

.message_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
