
.messenger {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

    animation: messenger 1.5s ease forwards;
}
@keyframes messenger {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
