
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.media_slider {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: window 1s ease forwards;
}
@keyframes window {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.control_button {
    height: 50px;
    width: auto;
}
.control_button:hover {
    cursor: pointer;
    border-radius: 25%;
}
.control_button:hover g {
    fill: #76797b;
}

.slider_image {
    object-fit: contain;
    width: calc(100% - 100px);
    height: 100%;
}
