
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.update_message {
    position: relative;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 40%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    animation: window 1s ease forwards;
}
@keyframes window {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.update_message textarea {
    margin-top: 10px;
    max-width: 90%;
    min-width: 90%;
    border-radius: 5px;
    border: 2px solid #a39bb1;
    padding: 5px;
    height: calc(100% - 55px);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 15px;
}
.update_title {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #4c4852;
}
.update_actions {
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(90% + 10px);
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.cancel {
    height: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 2px solid #959a9c;
    background: white;
    font-weight: bold;
    color: #959a9c;
}
.cancel:hover {
    cursor: pointer;
    background: #959a9c;
    color: whitesmoke;
}
.update {
    height: 100%;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    background: #4849a1;
    color: whitesmoke;
    font-weight: bold;
}
.update:hover {
    cursor: pointer;
    background: #272756;
}
