
.message_input {
    align-self: flex-end;
    width: calc(100% - 10px);
    border-radius: 5px;
    height: 50px;
    background: white;
    padding: 10px 5px 10px 5px;
    display: inline-flex;
    align-items: center;
}

.message_input input {
    background: transparent;
    height: 100%;
    width: 90%;
    color: rgb(50, 50, 50);
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
}

.message_input button {
    background: #e6e6e6;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    color: #36333a;
    height: 100%;
    flex: 1;
}

.message_input button:hover {
    cursor: pointer;
    background: #b1b9ba;
}
