
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    /*border-radius: 25px;*/
    box-shadow: 0 4px 10px -6px grey;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    animation: header 1.5s ease forwards;
}
@keyframes header {
    from {
        transform: translate(0, -100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.app_name {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 5px 32px;
}
.app_name img {
    height: 100%;
    width: auto;
    border-radius: 2px;
}
.app_name span {
    margin-left: 10px;
}

.user_panel {
    width: 45%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.user_panel svg {
    height: 70%;
    width: auto;
}

.notification_logo:hover {
    cursor: pointer;
    fill: #76797b;
}

.user_profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: transparent;
    border: none;
    margin-right: 10px;
}
.user_profile span {
    background: #d8dfe2;
    border: none;
    border-radius: 5px;
    padding: 3px 10px 3px 15px;
}
.user_profile span:hover {
    background: #cad1d4;
    cursor: pointer;
}
.user_profile img {
    object-fit: cover;
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-right: -10px;
    z-index: 2;
    /*border-radius: 2px;*/
}
