
.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 60%;
    min-width: 20%;
    margin-bottom: 5px;
}
.message .like {
    align-self: center;
    margin-left: 3px;
    min-width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
}
.main {
    align-self: flex-end;
    min-width: 22%;
}
.main .like {
    order: -1;
}

.message > img {
    object-fit: cover;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}
.message_text {
    width: calc(100% - 45px);
    background: #4849a1;
    color: #FDFDFD;
    border-radius: 10px 10px 10px 0;
    border: none;
    padding: 20px 10px 20px 10px;
    margin-left: 5px;
    font-size: 15px;
    position: relative;
}
.date {
    font-size: 10px;
    background: transparent;
    color: #e3edeb;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}
.main_text {
    width: 100%;
    border-radius: 10px 10px 0 10px;
    padding-top: 20px;
    background: #d6d6db;
    color: #36333a;
}
.main_text .date {
    color: #4c4852;
}

.message_actions {
    font-size: 10px;
    background: transparent;
    color: #4c4852;
    position: absolute;
    top: 0;
    right: 5px;
    padding-top: 3px;
    visibility: hidden;
}
.message:hover .message_actions {
    visibility: visible;
}
.message_actions span {
    margin-right: 5px;
}
.message_actions span:hover {
    cursor: pointer;
    color: #333037;
    font-weight: bold;
}

.username {
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
    position: absolute;
    top: 0;
    left: 5px;
}
